.overview {
	flex-grow: 4;
	background-color: #424242;
}

.overview__BubblePositioningContainer {
	height: 100vh;
	max-width: 1350px;
	position: relative;
}

.overview__BubbleContainer {
	position: fixed;
}