.card {
  text-align: left;
  width: 550px;
  background-color: #efefef;
  color: #46494C;
  border-radius: 4px;
  margin: 20px 40px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  top: 200px;
}

.card h2 {
  font-size: 30px;
  font-weight: 200;
}

.card h2 span {
  font-weight: 700;
  font-size: 20px;
}

.card:hover h2 span {
  text-decoration: underline;
}

.card.selected {
  box-shadow: 0px 0px 3px 2px #faff00;
}

.card.selected:hover h2 span {
  text-decoration: none;
}

.card__Header {
  border-radius: 4px 4px 0 0;
  height: 28px;
}

.card__CollapseIcon {
  padding: 8px 16px;
}

/**
 * Set our base rotation style, knowing that any transition in state will have
 * a specific easing and will start at a rotation of `180`
 */
.card__CollapseIcon svg {
  transform: rotate(0deg);
  transition: 0.3s all ease;
}

/**
 * Rotate our icon 180 degrees
 */
.card__Rotate svg {
  transform: rotate(180deg);
}

.card__Summary {
  display: flex;
}

.card__Summary div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 2;
  flex-direction: column;
}

.card__Summary div:nth-child(2) p {
  font-weight: 500;
  font-size: 14px;
}

.card__BelowTheFold {
  min-height: 370px;
}