.Card {
  text-align: left;
  min-width: 550px;
  background-color: #DCDCDD;
  color: #46494C;
  border-radius: 4px;
  margin: 20px;
  cursor: pointer;
  overflow: hidden;
}

.Card.Closed {
  height: 135px;
}

.CardHeader {
  border-radius: 4px 4px 0 0;
  height: 24px;
}

.CollapseIcon {
  padding: 4px 5px;
}
