@font-face {
  font-family: 'Plex';
  font-style: normal;
  font-weight: 700;
  src:
    url(./fonts/PlexSans-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Plex';
  font-style: normal;
  font-weight: 100;
  src:
    url(./fonts/PlexSans-Thin.woff) format('woff');
}

@font-face {
  font-family: 'Plex';
  font-style: normal;
  font-weight: 400;
  src:
    url(./fonts/PlexSans-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Plex';
  font-style: normal;
  font-weight: 500;
  src:
    url(./fonts/PlexSans-Medium.woff) format('woff');
}

h1 {
    font-size: 28px;
    padding: 20px 16px;
    font-family: 'Plex', sans-serif;
    font-weight: 700;
    text-align: left;
}

h2 {
    font-size: 20px;
    padding: 20px 16px;
    font-family: 'Plex', sans-serif;
    font-weight: 700;
    text-align: left;
}

h3 {
    font-size: 20px;
    padding: 20px 16px;
    font-family: 'Plex', sans-serif;
    font-weight: 700;
    text-align: left;
}

h4 {
    font-size: 64px;
    font-family: 'Plex', sans-serif;
    font-weight: 100;
    text-align: center;  
}

p {
    padding: 4px 16px;
    font-family: 'Plex', sans-serif;
    font-weight: 400;
    line-height: 1.2;
    text-align: left;
    font-size: 18px;
}

p span {
  font-weight: 500;
}

#app {
  text-align: center;
  color: #DCDCDD;
  background-color: #FFFFFF;
  display: flex;
  justify-content: flex-start;
  color: #46494C;
}

.feed {
  flex-basis: 630px;
}

.header {
  position: fixed;
  z-index: 3;
  background-color: white;
  width: 630px;
}

.header h1 {
  padding: 40px 40px 20px 40px;
}

.header p {
  padding: 8px 40px;
}

.legend {
  display: flex;
  justify-content: center;
  padding: 12px 0 30px 0;
}

.legend p {
  text-align: center;
  font-size: 14px;
  padding: 0 0 14px 0;
}

.legendCard h2 {
  padding: 14px 0 2px 0;
  text-align: center;
}

.legendCard {
  background-color: #DCDCDD;
  border-radius: 4px 0 0 4px;
  cursor: pointer;
  width: 105px;
}

.legendCard:nth-child(3) {
  border-radius: 0 4px 4px 0;
}

.colorBlock {
  width: 340px;
  background: linear-gradient(90deg, #4199F1 0%, #F46720 100%);
}

.dividerLine {
  width: 550px;
  height: 4px;
  background-color: #DCDCDD;
  margin: 0 auto;
}
