@font-face {
  font-family: 'Plex';
  font-style: normal;
  font-weight: 700;
  src:
    url(./Fonts/PlexSans-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Plex';
  font-style: normal;
  font-weight: 100;
  src:
    url(./Fonts/PlexSans-Thin.woff) format('woff');
}

@font-face {
  font-family: 'Plex';
  font-style: normal;
  font-weight: 200;
  src:
    url(./Fonts/PlexSans-Light.woff) format('woff');
}

@font-face {
  font-family: 'Plex';
  font-style: normal;
  font-weight: 400;
  src:
    url(./Fonts/PlexSans-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Plex';
  font-style: normal;
  font-weight: 500;
  src:
    url(./Fonts/PlexSans-Medium.woff) format('woff');
}

html {
  background-color: #424242;
}

p {
    padding: 4px 16px;
    font-family: 'Plex', sans-serif;
    font-weight: 400;
    line-height: 1.2;
    text-align: left;
    font-size: 18px;
}

p span {
  font-weight: 500;
}


h1 {
    font-size: 36px;
    padding: 20px 16px;
    font-family: 'Plex', sans-serif;
    font-weight: 700;
    text-align: left;
}

h1 i {
  font-size: 20px;
  position: relative;
  top: -2px;
}

h2 {
    font-size: 20px;
    padding: 20px 16px;
    font-family: 'Plex', sans-serif;
    font-weight: 700;
    text-align: left;
}

h3 {
    font-size: 20px;
    padding: 20px 16px;
    font-family: 'Plex', sans-serif;
    font-weight: 700;
    text-align: left;
}

h4 {
    font-size: 64px;
    font-family: 'Plex', sans-serif;
    font-weight: 100;
    text-align: center;  
}

.app {
  text-align: center;
  color: #DCDCDD;
  display: flex;
  justify-content: flex-start;
  color: #46494C;

}

.app__Feed {
  flex-basis: 630px;
}

.app__Header {
  position: fixed;
  z-index: 3;
  background-color: white;
  width: 630px;
}

.app__Header h1 {
  padding: 30px 40px 20px 40px;
}

.app__Header p {
  padding: 8px 40px;
}

.app__DividerLine {
  width: 550px;
  height: 4px;
  background-color: #DCDCDD;
  margin: 0 auto;
}
